/*==============================================================================
                                DEFAULT SECTION
==============================================================================*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Libre Franklin", sans-serif;
    color: #f8f8f8;
    background-color: #888888;
}

p {
    font-size: 16px;
    font-family: "Libre Franklin", sans-serif;
    color: #f8f8f8;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
    padding-left: 15px;
}

img {
    max-width: 100%;
}

a {
    color: #3d5afa;
}

a:hover {
    text-decoration: none;
    outline: none;
    color: #00ff00;
}

/*==============================================================================
                                HEADER SECTION
==============================================================================*/

.header-section {
    background: #000000;
    display: block;
}

#header-table {
    width: 100%;
}

#icon-column {
    width: 30%;
}

#menubar-column {
    width: 70%;
}

.menubar {
    text-align: right;
    padding-right: 15px;
}

.menubar a {
    text-decoration: none;
}

.menubar ul li {
    display: inline-block;
    list-style: none;
    margin-left: 35px;
    position: relative;
}

.menubar ul li.active a {
    color: #00ff00;
}

.menubar ul li:hover>a {
    color: #00ff00;
}

.menubar ul li a {
    font-size: 17px;
    color: #f8f8f8;
    font-weight: 700;
    display: inline-block;
    padding: 25px 0 30px;
}

/*
Desktop media query.
*/
@media only screen and (min-width: 1200px) {
    .header-section {
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .logo img {
        width: 256px;
    }
}

/*
Mobile media query.
*/
@media only screen and (max-width: 1200px) {
    .header-section {
        width: 100%;
    }

    .logo img {
        width: 128px;
    }

    .menubar ul li {
        margin-left: 25px;
    }
}

/*==============================================================================
                                CONTENT SECTION
==============================================================================*/

/*
Div that holds most content of the webpage excluding the header and footer.
*/
.content-section {
    min-height: 800px;
    background-color: #000000;
    display: inline-block;
}

/*
Top level div for everything in the content-section.
*/
.container {
    background-color: #000000;
    display: inline-block;
}


/*
Desktop media query.
*/
@media only screen and (min-width: 1200px) {
    .content-section {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/*
Mobile media query.
*/
@media only screen and (max-width: 1200px) {
    .content-section {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .container {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

/*==============================================================================
                                FOOTER SECTION
==============================================================================*/

.footer-section {
    background: #000000;
    padding-top: 80px;
    padding-bottom: 50px;
}

.source-link {
    padding-top: 25px;
    text-align: center;
    font-size: 14px;
}

/*
Desktop media query.
*/
@media only screen and (min-width: 1200px) {
    .footer-section {
        min-height: 200px;
    }
}

/*==============================================================================
                                VIDEO SECTION
==============================================================================*/

/*
Top video div containing all elements that belong to a particular video or playlist
*/
.video {
    margin-bottom: 15px;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #f8f8f8;
}

/*
Button that shows or hides a video and its associated video-text.
*/
.video-button {
    background-color: #282828;
    font-size: 18px;
    color: #f8f8f8;
    padding: 15px;
    width: 100%;
}

/*
Frame that holds the embedded youtube video.
*/
.video-iframe {
    width: 100%;
    height: 400px;
}

/* 
Div containing the embedded video with the accompanying text.

Set to "inline-block" by default so that each video text is shown on page load until the user closes it.
*/
.video-text { 
    display: inline-block;
    width: 100%;
}