html, body {
    background-image: url("../images/ruby.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: #000000;
}

.content-section {
    opacity: 0.9;
}

.about-section h3{
    color: #00ff00;
    font-size: 20pt;
}

.about-section h1{
    font-size: 36pt;
}

.about-section p{
    font-size: 16pt;
}

/*
Text thats hidden by default and has to be revealed using the button below.
*/
#more-text {
    display: none;
}

/*
Button for showing more text in the about section.
*/
#more-button {
    display: inline-block;
    font-size: 14pt;
    font-weight: 800;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
    background-color: #1fd500;
    color: #ffffff;
    border: solid black 2px;
}

#more-button:hover {
    background-color: #ffffff;
    color: #1fd500;
}